header {
    display: inline-block;
    float:left;
    width: 100%;

    
}
img { 
    width: 15%;
    margin-left: 50px;
}
nav {     
    float: right;
}
a {
    float:left;
    text-decoration: none;
    text-transform: capitalize;
    line-height:15px;
    margin-top: 15px;
    
    font-size: 14px;
    color: black;     
    ;
 
}
nav>a {
    margin-right: 35px;   
}
nav>a:focus {
    text-decoration: underline red;
    text-underline-offset: 5px;
    font-weight: bold;    
}

